body{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation section */
#navbar{
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 580;
    font-family: 'Kulim Park', sans-serif;
}
.hamburger{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 580;
    font-family: 'Kulim Park', sans-serif;
}
.h1{
    font-size: 3rem;
    color: white;
}
.center{
    text-align: center;
}
.subh1{
    color: rgba(73, 73, 73, 0.863);
    font-size: .8rem;
}

/* Buttons */
.btn1{
    color: white;
    font-family: 'Kulim Park', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 12px 14px;
    border: 2px solid white;
    margin: 10px;
    transition: ease-in-out .3s;
}
.btn1:hover{
    background-color: blanchedalmond;
    color: #1f1f1f;
    font-weight: 600;
}
.blue{
    color: #3ca3df;
}

/* Section #1 */
#section1{
    background: url("img/bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 0 10%;
}

/* Scetion #2 */
#section2{
    background-color: #1f1f1f;
    padding: 80px 10%;
    border-top: 3px solid #3ca3df;
}
.htmlTempBG{
    background: url("img/htmlTemplateBG.png") no-repeat;
    background-size: cover;
}